{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block main %}

<div class="container">
		<div class="row-fluid">
			<div class="span8">
				<form class="form-horizontal" id="registerHere" method='post' action=''>
					<fieldset>

						<legend>Registration</legend>

						<div class="control-group">
							<label class="control-label">First Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="first_name" name="first_name" rel="popover" data-content="Enter your first name." data-original-title="First Name">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Last Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="last_name" name="last_name" rel="popover" data-content="Enter your last name." data-original-title="Last Name">
							</div>
						</div>


						<div class="control-group">
							<label class="control-label">Email</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Confirm Email</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Password</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="user_password" name="user_password" rel="popover" data-content="What’s your password address?" data-original-title="Password">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Confirm Password</label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="user_password" name="user_password" rel="popover" data-content="What’s your password address?" data-original-title="Password">
							</div>
						</div>


						<div class="control-group">
							<label class="control-label"></label>
							<div class="controls">
								<button type="submit" class="btn btn-success" >Create My Account</button>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
	</div>

{% endblock %}